# Jorge de la Torre - jorgedlt@gmail.com - Standard .gitignore

# MAC OS X
.DS_Store

# Log file
*.log
*-log.json

# AWS env files
*.pem

# DLT pem file
*.env

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Compiled class file
*.class

# plus the standard stuff
# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
